:root {
  --primary-bg-color: #f9fafb;
  --primary-color: #111827;
  --second-bg-color: #111827;
  --second-color: #ffffff;
  --primary-hl-bg-color: #5048e5;
  --primary-hl-color: #ffffff;
  --mobile-width: 480px;
}

html,
body {
  height: 100%;
  margin: 0;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  justify-content: space-between;
  align-items: stretch;
  
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  /* Path relative to the public folder */
    background-image: url('background.jpg');
    background-size: cover;
}

header {
  background-color : var(--second-bg-color);
  padding-top: 8px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;

}

footer {
    background-color: var(--second-bg-color);
    padding-top: 4px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;

}


.auth-card {
  display:block;
  text-align: center;
  width: max-content;
  max-width: 420px;
  margin: auto;
  padding: 32px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid gray;
  box-shadow: 0 8px 6px -6px black;

}
 
.welcome {
  /* Path relative to the public folder */
  height: 50vh;
  width: 100vw;
} 

.ant-result-body{
  text-align: center;
}