:root {
  --primary-bg-color: #f9fafb;
  --primary-color: #111827;
  --second-bg-color: #111827;
  --second-color: #ffffff;
  --primary-hl-bg-color: #5048e5;
  --primary-hl-color: #ffffff;
  --mobile-width: 480px;
}

.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.fa {
  color: var(--second-color);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px !important;
}

html, body, #root{
  margin: 0;
  padding: 0;
  min-width: max-content;
  height: 100%;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Arial, sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media screen and (max-width: 640px) {
  body {
    font-size: 14px;
  }

  input {
    height: 32px;
  }

  .flexrow {
    dispaly: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*header setting*/
  header {
    margin: 0px;
    padding: 10px 0px;
  }

  header .logo {
    display: None;
  }
  header .minilog {
    display: inline-block;
  }

  header .fa-user + span {
    display: None;
  }

  header .searchbar {
    width: 100%;
  }
  header input[type="search"] {
    width: 100%;
  }
  header .statusbar {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%; /*var(--mobile-width);*/
  }

  header .searchbar {
    order: 2;
  }

  /*foot setting*/
  footer .socialmedia {
    order: 1;
  }

  footer .footmenu {
    order: 2;
  }
  footer .copyrights {
    order: 3;
  }
}

/* 

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
