:root {
  --primary-bg-color: #f9fafb;
  --primary-color: #111827;
  --second-bg-color: #111827;
  --second-color: #ffffff;
  --primary-hl-bg-color: #5048e5;
  --primary-hl-color: #ffffff;
  --mobile-width: 480px;
}

html,
body {
  height: 100%;
  margin: 0;
}


#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  justify-content: space-between;
  align-items: stretch;
  
  background-color: var(--primary-bg-color);
  color: var(--primary-color);

}

header {
  background-color : var(--second-bg-color);
  padding-top: 8px;
  padding-bottom: 4px;
}

main{
  padding-left: 16px;
  padding-right: 16px;
}

footer {
    background-color: var(--second-bg-color);
    padding-top: 4px;
    padding-bottom: 8px;

}
.auth-card {
  display:block;
  text-align: center;
  max-width: 512px;
  margin: auto;
  padding: 32px;
  border: 1px solid gray;
  box-shadow: 0 8px 6px -6px black;

}