footer {
  background-color: var(--second-bg-color);
  color: var(--second-color);
  padding: 16px 32px;
  
  div {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  span {
    padding: 5px 10px;
  }
}

