header {
  background-color: var(--second-bg-color);
  color: var(--second-color);
  padding: 16px 32px;

  input[type="search"] {
    height: 48px;
    width: 480px;
    opacity: 1;
    border-radius: 4px;
    border-width: 1px;
  }
  .minilog {
    display: None;
  }
}

