.user-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowarp;
  justify-content: space-evenly;
  padding: 64px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  width: max-content;
  align-self: center;

  

  .user-form-header {
    p {
      font-size: smaller;
      text-align: center;
    }
  }
  .user-form-footer {
    margin-top: 20px;
    font-size: small;
  }
}

.user-form{
  p {
    margin: 0px;
    padding-top: 5px;
  }

  input[type="email"], input[type="password"] {
    width: 100%;
    height: 48px;
    opacity: 1;
    border-radius: 4px;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--primary-hl-bg-color);
    color: var(--primary-hl-color);
    border-radius: 4px;
    border-width: 1px;
  }
}